[2020-02-12 16:41] contra opened #1 "fix prebuilds"
Last thing that needs to be done is fixing the CI process.

Currently broken:

- Windows
  - https://ci.appveyor.com/project/contra/node-gdal-next/builds/30755364/job/ib61kph7q13qrlwj#L1199
- Linux
  - https://travis-ci.org/contra/node-gdal-next/builds/649559608

Currently working:

- All mac builds

[2020-02-14 18:09] jdesboeufs commented on #1
My last Linux build were sucessful:
https://travis-ci.org/jdesboeufs/node-gdal/builds/622911781

Maybe some changes to pick.
Will look at this ASAP.

[2020-02-17 15:04] contra commented on #1
@jdesboeufs Thanks! Really appreciate the help. I have been making tweaks to get the windows builds working and have it pretty close, probably needs another hour or two to finish it up - I'll take ownership of getting the windows builds finished up.

[2020-03-04 01:58] contra commented on #1
Update on this:

- Travis CI: All builds are working except for Linux from source
  - I think the issue is linker related, not sure what's going on here yet - would appreciate some help. `undefined symbol: OGRDXFLayer::TranslateMLEADER()`
  - https://travis-ci.org/contra/node-gdal-next/builds/658023018
- Appveyor: Some file functions are missing, cpl file is not valid
  - https://ci.appveyor.com/p

[2020-03-04 04:09] contra commented on #1
Good news! Everything on travis is passing (Node 10/11/12/13) - even after doing a load of changes and upgrades to the build process (upgrading G++, moved around a lot of linker settings, etc.).

Only windows needs to be done now - still working on that.

[2020-03-04 18:34] contra commented on #1
More good news - just got windows working. All items on the roadmap are finished and this is ready to publish. https://ci.appveyor.com/project/contra/node-gdal-next/builds/31243623

@jdesboeufs Anything else you want to see or are we good to publish a v2.0.0 on the gdal-next package you own? Will just need to set up the prebuilt publishing S3 - I can pay for the storage if you'd like.

[2020-03-05 15:58] #1 closed

[2020-03-13 18:39] claustres opened #2 "Cannot find proj.db"
Thanks for this fork as we are happy trying to migrate some of our projects on Node v12 !

For instance https://github.com/weacast/weacast-gtiff2json seems to work well.

However we have an issue migrating https://github.com/kalisio/krawler where we use the GDAL binding to perform [coordinates transformation](https://github.com/kalisio/krawler/blob/master/src/hooks/hooks.raster.js#L106). In that c

[2020-03-16 14:50] contra commented on #2
@claustres What OS are you having the issue on? We set the env var here by default which should get picked up by gdal https://github.com/contra/node-gdal-next/blob/master/lib/gdal.js#L22 but I have heard mixed messages that this may not work on windows.

Also - make sure you're on the latest version - I fixed an issue with that env var not being set correctly in one of the earlier patch releases.

[2020-03-16 16:26] claustres commented on #2
Yes I am using Node.js 12 under Windows 10, we also have a travis build under Linux which seems to be fine, so this could be related.

[2020-03-16 18:06] contra commented on #2
@claustres Hmm... Can you try to manually set the env var to this value https://github.com/contra/node-gdal-next/blob/master/lib/gdal.js#L7 and see if that fixes it? If so we can confirm it is an env issue on windows and I can look into a fix for it.

[2020-03-24 09:56] claustres commented on #2
Sorry for the delay, just tested this morning and I confirm this fixes the issue.

[2020-03-24 17:43] contra commented on #2
This might be a tricky one to fix - I don't have any ideas off the top of my head. We can't build this in at compile because the relative path isn't the same at build time and install time, but also can't use ENV to set it.

One kind of messy option is to add a  function into PROJ for manipulating it programmatically (similar to how this works in GDAL for setting GDAL_DATA), so we have that on the

[2020-03-24 17:49] claustres commented on #2
I don't see it as a bug, the docs should maybe just specify that under Windows or some cases you need to set the env var manually.

[2020-03-24 18:11] contra commented on #2
@claustres Were you able to set the env to a relative path? Could you paste the value and I'll add it to the docs until we have a workaround.

[2020-03-24 18:35] claustres commented on #2
No I used an absolute path, what is strange is that if I remove my env var and console.log the env var when launching my module it is still set so that your module is correctly changing it, and the path is absolutely the same than the one I set in the env var. Maybe it is related to the initialization order and some operation require the env var before it is correctly set ?

[2020-03-24 18:40] contra commented on #2
@claustres The issue is that ENV isn't able to be set by node (in windows only) in a way that the native C code can access it - the value is changed within the node context but nowhere else.

[2020-03-24 18:47] claustres commented on #2
ok got it, some docs update seems the way to go ;-)

[2020-04-06 13:31] oncletom opened #3 "Node.js Worker Thread compatibility"
When I use [Node.js Worker Thread](https://nodejs.org/api/worker_threads.html) to offload the work in another process, I encounter this error :

[code]

The document specifies this:

There is a code example that makes a native module "context aware".

[2020-04-06 16:53] contra commented on #3
@oncletom That's a great item for the roadmap - I do have on there to switch to N-API, but I will look into declaring it as a context-aware native module as an interim solution. I would also love to have this for our production cases.

[2020-04-06 18:52] oncletom commented on #3
Cool! Let me know if you need some testing — I kept my code while switching to `worker-farm` in the meantime.

I found Worker Thread integration easier (to write and debug) and less verbose to achieve identical result.

[2020-04-06 19:07] contra commented on #3
If you have the time and want to try it out feel free to send a PR - I'm pretty busy this week and probably won't get around to this until next week.

[2020-04-15 04:15] andrewharvey opened #4 "/vsi support"
The /vsicurl and /vsis3 options aren't working for me, is this a known issue or likely some issue on my end?

`gdal.open('/vsicurl/http://localhost:8000/file.tiff')`

[2020-04-15 17:20] contra commented on #4
@andrewharvey It isn't in the list of supported formats in the README at the moment - now that this repository has been updated and cleaned up I don't think it should be too hard to add support for that.

[2020-05-28 13:45] jdesboeufs opened #5 "gdal.config"
Hi,

To open a shapefile with a specific encoding, we have to set `SHAPE_ENCODING` through `gdal.config.set()`.

But after that, we are not able to reset this configuration to its original state, allowing other shapefile encodings to be auto-detected.
It could be useful to have an option to unset a config variable, or maybe a config contexte bound to the dataset, and not GDAL itself.

WDYT?

[2020-05-28 18:42] contra commented on #5
Yeah that makes sense to me - I think adding an unset function, and being able to set it per function call would be the best move. It could be done easily in the JS portion of the project to avoid massive amounts of C++ changes, and unset would be added in C++ - want to send a PR?

[2020-05-28 19:50] jdesboeufs commented on #5
I've found a work-around: `gdal.config.set('VAR', undefined)`. It seems to work.

Yes I agree. It could be interesting to have some helpers like this.
OK to send a PR if this work-around is good or if we can have an `unset` function.

[2020-05-28 20:04] jdesboeufs opened #6 "LCC projections support broken"
The support of LCC projections seems to be broken since PROJ6 integration.
So I'm stuck to `0.10.0` version in production for now.

Example code:

[code]

You can try with this file:
[code]

[2020-05-29 00:09] contra commented on #5
I think unset or reset would be a fine API addition, and we can do a secondary PR to add a new helper.

Something like this could work? Pretty simple and flexible - would be much easier than adding a new `config` option to every single function

[code]

which would basically just be:

[code]

[2020-05-29 00:13] contra commented on #6
@jdesboeufs Could you make a repo that expresses this as a test using some assertions? Then I can run the tests against each version of gdal and look into the issue, and have a better idea of it actually being fixed without having to manually look at the output. I'm not super familiar with the expected output so will make it much easier.

[2020-05-29 15:02] weagle08 opened #7 "N-API Migration"
Do you have a branch you will be performing the N-API migration on? Would like to throw a couple developers at this to help maybe around the October timeframe and can probably give about 2 months of development time to assist in this. Would like to rethink how the project gets built however because the modifying current gyp files by hand is very error prone and tedious! We have a requirement to op

[2020-05-29 15:04] weagle08 commented on #7
You may have already addressed some of my concerns on the build process as we are still on the old node-gdal module by naturalatlas guys.

Thanks,

Ben

[2020-06-02 12:19] jdesboeufs commented on #6
After some additional research, it seems the transformation "Lambert Conformal Conic" used in the coordinates system is not supported anymore in PROJ7.
It also breaks with `ogr2ogr` 3.1.
It's a real problem for me, but it's not the responsability of `gdal-next`.

[2020-06-02 12:37] jdesboeufs commented on #6
I reopen the issue since I'm able to "repair" the projection with `ogr2ogr`.
So if `ogr2ogr` is able to read and save, then open read and transform, `gdal-next` could too.

[2020-06-02 19:22] contra commented on #7
@weagle08 It took me weeks to port everything from the original old repo to this one because there was so much manual work needed - as I was doing it I tried to automate everything as much as possible so some things were improved, but there is still a looot of complexity in the gyp files.

I would absolutely love some help simplifying the current process - I think it will make the migration to N-A

[2020-06-22 16:29] zhangjinzhou opened #9 "Support for ogrlineref function"
Do we have plan to include **ogrlineref** in this nodejs implementation?

[2020-06-22 18:41] contra commented on #9
How do you see the API looking for this?

[2020-06-23 00:55] zhangjinzhou commented on #9
@contra What do you mean? The gdal official has [the function](https://gdal.org/programs/ogrlineref.html). We are looking for the functionality in nodejs implementation to add new feature to our application.

[2020-06-23 17:18] contra commented on #9
ogrlineref is a command line tool (like ogr2ogr) and not a function that we can expose in the nodejs binding. We would need to re-implement `ogrlineref` as a real interface to be able to bind to it. This library is a straight up link from JS to the native gdal libraries and doesn't intend to re-implement any of the command line tools that are bundled with the gdal library.

You can read the source

[2020-06-23 17:18] #9 closed

[2020-06-24 00:34] zhangjinzhou commented on #9
@contra Thanks! Good to know. We usually run ogr2ogr tools with commandline tool in nodejs. I will do the same thing.

[2020-08-19 10:21] JamesLMilner opened #10 "Best way to georeference an image?"

[2020-08-19 10:26] JamesLMilner opened #11 "Best way to georeference an image?"
Hello! Firstly thanks for continuing on this library great to see it being maintained.

I am looking to try and georeference an image using `node-gdal-next`. I have seen in the tests (https://github.com/contra/node-gdal-next/blob/a41e0328a4551c6ebdd983b934433388fbc6d902/test/api_warp.test.js#L76) some examples of warping and reprojecting images, but it seems to be from one CRS to another CRS, rath

[2020-08-19 10:29] #10 closed

[2020-08-19 23:42] contra commented on #11
@JamesLMilner I wish we could bind a lot of those CLI tools (gdalwarp/gdal_translate) and make them available as simple JS APIs, but they aren't built in a way that makes that possible. The only real way to use them as-is is to just execute them with `child_process`.

The good news though is all those tools are doing is using the same lower level native APIs that this binding exposes and piecing t

[2020-08-19 23:43] contra commented on #11
For reference you can find the source code for all of the command line tools here: https://github.com/contra/node-gdal-next/tree/master/deps/libgdal/gdal/apps

[2020-09-04 10:55] markgis opened #12 "Geometry intersection with invalid geometry does not hard error and returns a null"
We need to clip large polygons with a bounding box of an area of interest. We were using Gdal bindings from the old lib and it worked fine. Occasionally geometry issues (self touching) are leading to soft errors where data is missing and gdal-next is not throwing an error.

We can use isValid to check before running an intersection, however throwing an error would be preferable.

Old Gdal bindings

[2020-09-09 17:43] contra commented on #12
There weren't any changes in the binding code related to validation or intersections so I would assume this is just a change in the underlying gdal behavior - it may be possible to return the old behavior but I'll have to check the gdal changelog and see what changed here + add some tests.

[2020-09-09 17:46] contra commented on #12
As a test, you can try installing gdal-next in shared mode + make sure you have an older version of gdal (maybe 2.x? an early 3.x?) on your local. If you get the same results then the issue is in our binding code - if you get the expected results on the older version, then the issue is with a change in gdal.

Let me know what you find out since that can save me quite a bit of time debugging.

[2020-09-21 08:26] Ysgorg commented on #4
This would be very helpful for my use-case as well, where I need to process a large number of small pieces of data one-by-one. I believe VSI support would allow me to do this without needing to write to temporary files.

[2020-09-21 09:52] Ysgorg opened #13 "Geometry supported by `ogr2ogr` not supported by `gdal-next`"
I have a GML file which I want to convert to another format. I am able to do this with the `ogr2ogr` tool, but with `gdal-next` I get an error when I try to do the same thing.

With `ogr2ogr`:

[code]

With `gdal-next`:
[code]
I get the following error for the `getGeometry` call:

`test.gml` has the following content.

[code]

[2020-09-21 22:54] contra commented on #13
Hmm, that is odd since we support GML in our list of bundled drivers: https://github.com/contra/node-gdal-next/blob/master/deps/libgdal/gyp-formats/ogr_gml.gyp

Can you try using `ogr_gml` instead of `gml` as the third argument? If that doesn't work I can look into it more.

[2020-09-22 08:12] warrenwyf opened #14 "Field type support for int64"
https://contra.io/node-gdal-next/classes/Constants%20(OFT).html#prop-gdal.OFTInteger

There is no field type OFTInteger64 and OFTInteger64List which gdal has:

https://gdal.org/doxygen/ogr__core_8h.html#a787194bea637faf12d61643124a7c9fc

[2020-09-23 19:13] contra commented on #14
@warrenwyf We have code for OFTInteger64 here that is enabled on GDAL >= 2.x

[2020-09-23 19:21] contra commented on #14
So it looks like the gap we have is:
- We don't have any code for parsing OFTInteger64List in FeatureFields (OFTInteger64 is handled already)
- We don't expose the type constants for OFTInteger64 or OFTInteger64List

@warrenwyf Does solving those two fully address your issue or are there more cases we need to handle?

[2020-09-24 03:22] warrenwyf commented on #14
Yes, I think so

[2020-09-24 07:57] warrenwyf opened #15 "Blob field reading causes pointer being freed was not allocated error"
I am tring to read a vector layer from geopackage data which has a blob field.

After reading several rows nodejs throw errors like this:

[code]

When ignore the blob field, everything is ok.

[2020-09-24 08:02] warrenwyf opened #16 "Blob field reading causes pointer being freed was not allocated error"
I am tring to read a vector layer from geopackage data which has a blob field.

After reading several rows nodejs throw errors like this:

[code]

When ignore the blob field, everything is ok.

[2020-09-24 08:02] #16 closed

[2020-09-24 16:43] contra commented on #15
@warrenwyf Can you post the code and the file that reproduces the issue?

[2020-09-24 16:44] contra commented on #14
@warrenwyf Do you have a sample file that includes those two data types that I can use to test? Will make it much easier to implement if I have something to work against

[2020-09-25 02:43] warrenwyf commented on #14
Integer64List is not supported by most formats, maybe you can test it in this way:

[code]

[2020-09-25 03:02] warrenwyf commented on #15
[code]

Unzip the attachment, save the script, and run it.

[points.gpkg.zip](https://github.com/contra/node-gdal-next/files/5280333/points.gpkg.zip)

What I got:

![image](https://user-images.githubusercontent.com/860765/94221842-8002f280-ff1e-11ea-95a0-f24618ef4249.png)

[2020-09-25 08:44] markgis commented on #12
@contra Sorry about the late reply,  I am guessing you mean install from gdal source? as in;

[code]

[2020-09-25 17:52] contra commented on #12
@markgis Yeah - with that you're building it from scratch and telling it to link against a version of GDAL on your system, not the one included in the repo. If your issue is fixed by this it means the breakage is with the version in our repo vs. an older version that your system has and gives us a good place to start looking. Let me know what the result is + which version of GDAL you linked agains

[2020-09-25 17:56] contra commented on #15
@warrenwyf Thanks - seems pretty straightforward, I'll put this on my TODO list and try to look into it this weekend or at the start of next week.

[2020-09-27 08:13] contra commented on #14
Should be solved with this (https://github.com/contra/node-gdal-next/commit/6ed2a1988e484a52f20b45dd554277140105b747) published as 2.2.0 - let me know if this solves your issue and I can close out the ticket

[2020-09-27 22:26] contra commented on #14
Published as 2.2.0 now that the binary published - let me know if you have any issues with it.

[2020-09-27 22:26] #14 closed

[2020-09-28 04:31] warrenwyf commented on #14
Seems works.

However, the data type to set is not correct:

[code]

[2020-09-28 15:48] contra commented on #14
@warrenwyf JS doesn't have 64 bit integers so it makes sense that you would need to represent it in a string. Don't know of any other workaround - let me know if you have any ideas.

[2020-09-28 15:52] warrenwyf commented on #14
but `feature.fields.get('bigintlist')` returns an array instead of string, the set()-get() behavior is inconsistent

[2020-10-01 11:01] guimard opened #17 "Please add tags"
Hi,

could you add tags to be able to reproduce your build corresponding to npm published packages ?

Cheers,
Xavier (yadd), Debian Developer

[2020-10-02 22:38] mmomtchev commented on #7
What is the current status of the N-API migration? I was planning to add readAsync/writeAsync methods, then I saw this
Are there any proposals for the async API? I was thinking about copying the fs API creating xxxAsync methods that can be promisified

[2020-10-02 23:38] contra commented on #7
@mmomtchev Nothing has been started yet by me or anyone else AFAIK - feel free to make a PR if you are interested in implementing it.

For the async APIs I think that pattern works - IIRC returning promises from native extensions is really annoying so callbacks is the path of least friction, and we can promisify in JS.

[2020-10-03 16:51] mmomtchev commented on #7
There is also the GDALAsyncReader API which allows for creating a ReadStream-like interface where a caller would listen for incoming data, but that's a very substantial project and I wonder if there would be any use for it
This also allows for event-based scheduling of async contexts instead of launching RasterIOs in separate threads
But my use case is Express and Express-like APIs that read from

[2020-10-04 08:06] mmomtchev commented on #7
@contra, I just pushed early basic support for async reading
The current call is rather ugly:
[code]

[2020-10-04 14:42] mmomtchev opened #18 "crash when accessing dataset opened via the driver object"
[code]
will produce a segmentation fault which I traced to gdal_dataset.cpp:722
[code]
I "fixed" it by checking for nullptr, but it shouldn't happen, there must be an initialization missing somewhere

[2020-10-05 10:43] mmomtchev commented on #7
@contra, ok I have a first version of alpha quality with async reading that satisfies my use case (reading from Express)
I will need some feedback on this, if anyone wants to try it:
https://github.com/mmomtchev/node-gdal-async
I solved the API problems in the .js layer just like the original author

[2020-10-05 10:51] mmomtchev opened #19 "Early experimental async support"
Over the weekend, I have started implementing async support here: https://github.com/mmomtchev/node-gdal-async
The current version is of alpha quality and supports only open() and raster read()
My use case is reading data from Express and this is more or less covered
It is too early to merge it back, but if anyone wants to try it, I will appreciate your feedback

[2020-10-05 20:25] contra commented on #7
@contra Nice! Just did a quick review of the code - to keep the diff clean between the repos and make future merging easier do you want to send a PR with the changes unrelated to the async behavior?

[2020-10-06 10:46] mmomtchev commented on #19
@contra, there is almost nothing (maybe one code depup?) that is independent of the async code which is potentially breaking - because of the new locking scheme
I am getting ready for a first push once I
* settle down on an API that doesn't change - I am looking at what other similar packages did
* fix the automatic github build (any ideas? you use travis?)
* get some feedback (especially for Wind

[2020-10-06 10:47] mmomtchev commented on #7
moved to #19

[2020-10-06 14:44] mmomtchev commented on #19
Proposal:
The user sees only one of each openAsync/writeAsync/readAsync and it is an async function
If its last argument is a callback, that callback is called on completion
Otherwise it returns a Promise (in fact the Promise is always returned)
This will be implemented in lib/gdal.js

And all the low-level C++ functions stay as they are now, with up to 15 arguments and standard (e, r) callback se

[2020-10-06 17:04] mmomtchev opened #20 "When building with node-pre-gyp, the system libgeos_c is used"
The node-pre-gyp build uses the system installed libgeos_c library even if it carries and builds its own copy of libgeos
This is the reason the build fails on systems which do not have it

[2020-10-06 23:09] #20 closed

[2020-10-07 09:17] mmomtchev opened #22 "strict option in driver.createCopy doesn't work"
The doxygen of createCopy mentions an optional boolean strict option which is passed to GDAL CreateCopy
The variable exists in the code but it is never parsed from the arguments
Correctly implementing the documentation is a breaking change
<https://github.com/contra/node-gdal-next/blob/7d387bb3c19de5ca1cac2782f8ca31fa630d1da4/src/gdal_driver.cpp#L287>

[2020-10-07 21:17] contra commented on #20
Published to NPM - thanks!

[2020-10-08 08:38] mmomtchev commented on #19
@contra, I am sorry but it has been ages since I compiled anything on Windows, what is the current "standard" C++ compiler? There is Visual Studio Community 2019 which is a full IDE? And also Visual Studio Build Tools which is a CLI-only compiler but it is stuck in 2015?

[2020-10-08 18:56] mmomtchev commented on #18
According to the discussion on gdal-dev list (@rouault), this stems from us not being supposed to call GDALDriver->pfnOpen directly
The problem is that there is no official GDAL entry point for constructing a GDALDataset at the GDALDriver level
In fact, that open does not belong there at all
We are supposed to construct GDALDataset by GDALOpen(ex) only which is at the main level
And if we want to

[2020-10-08 19:05] rouault commented on #18
if you're able to do poDriver->pfnOpen, you can know the name of the driver with poDriver->GetDescription(), and that's the one to pass to the list of allowed drivers of GDALOpenEx()

[2020-10-08 21:10] mmomtchev opened #26 "--debug builds crash when executing the unit tests"
The --debug builds, at least with g++ 8, crash with a segfault while doing the unit tests

This test is the culprit:

[code]

[2020-10-08 22:04] mmomtchev commented on #26
osgeo/gdal#3037

[2020-10-09 01:38] contra commented on #19
I also haven't used windows in almost 10 years - no clue how any of that stuff works tbh. This repo is set up using visual studio 2015 to build on windows, there are newer versions available than that but they introduce breaking changes and I didn't have time to deal with it given all of the other stuff that needed updating. I spent a couple of hours trying to update the windows build and decided

[2020-10-09 10:31] mmomtchev commented on #18
@rouault no solution for GDAL 1.x?

[2020-10-09 11:14] rouault commented on #18
GDAL 1.x !!!!! Are you joking :-) ?  Degraded mode: just use GDALOpen() then and ignores that the user has specified a driver.

[2020-10-09 13:34] mmomtchev commented on #18
Ok, I swept the GDAL 1.x **** under the carpet, the nullptr is still there, but Node won't crash anymore, its just that certain fields of the dataset will be undefined when read from JS

[2020-10-10 09:48] mmomtchev commented on #19
Yes, it doesn't build with Studio 2019 but Studio 2019 allows you to install MSVC 140 from Studio 2015 for CLI usage. So currently MSVC 140 is required, and me too I am inclined to leave it in this state.
Unit testing passes in Release mode. The Debug build does not compile, but it is because of a GDAL problem that has been submitted and fixed upstream.
Still waiting for feedback, but I think that

[2020-10-12 16:22] contra commented on #18
PR merged

[2020-10-12 16:22] #18 closed

[2020-10-12 16:28] rouault commented on #18
actually while thinking about that later, for GDAL 1, you could manually set the poDriver member to the driver... That's just what GDALOpen() does.

[2020-10-16 12:25] mmomtchev commented on #19
I am ready to push the first half of the async code (the raster data)
However as this is a far-reaching change because of the new locking, I would really be more comfortable with some feedback

[2020-10-16 17:28] contra commented on #19
@mmomtchev Haven't had time to dive really deeply into it yet, hopefully this weekend I can do a review pass.

FWIW I don't do C++ full time (never have) so I will probably defer to your judgement on the implementation in that regard.

[2020-11-08 15:05] olivierchatry commented on #2
One way would be to directly call `OSRSetPROJSearchPaths` and not rely on the `PROJ_LIB` environment variable in case the built-in version of gdal is used ?

[2020-11-08 16:59] olivierchatry commented on #2
Added a pull request https://github.com/contra/node-gdal-next/pull/32 @contra if you want to take a look.

[2020-11-10 17:02] #19 closed

[2020-11-10 19:42] mmomtchev commented on #26
Confirmed fixed after GDAL upgrade to 3.2.0

[2020-11-10 19:42] #26 closed

[2020-11-10 20:03] mmomtchev commented on #13
@Ysgorg, I just tried to load your geometry with the latest version of `node-gdal-next` and it works fine for me - I get the feature geometry. I just had to modify the code to load a JSON (the `gdal.open` call), but since you report a geometry error and not a dataset opening error, I guess it was correct on your side. Can you try again and report your findings?

[2020-11-10 21:00] mmomtchev commented on #15
<https://github.com/contra/node-gdal-next/pull/33>

[2020-11-10 21:29] mmomtchev commented on #6
@jdesboeufs this is working for me in the latest version, can you please retry and give me feedback

[2020-11-11 04:54] #2 closed

[2020-11-11 10:42] Ysgorg commented on #13
When I submitted this ticket I was using version `2.1.0` of the `gdal-next` package. I now upgraded to `2.4.0` and reran the example code given in the ticket description. I got the same result.

@mmotchev, I'm not sure what you mean by modifying the code to load JSON. In my use-case I have a large amount of input data and manually rewriting it to JSON is not an option.

[2020-11-11 11:11] mmomtchev commented on #12
@markgis, there have been very significant changes in GDAL 3 when it comes to geometry operations (they added 3D support based on SFCGAL) and the libgeom (which provides the intersection algorithm) support has been reworked.

As far as I am concerned, the correct response is the one provided by GDAL 3. The old one was, in fact, a bug.
As the GDAL documentation states, you have to call `geom.isVali

[2020-11-11 11:24] mmomtchev commented on #13
@Ysgorg, I am sorry, in fact I tried loading the JSON.
This is a duplicate of #8, add support for curve geometries.
`ogr2ogr` silently eliminates the curve geometry, that's why it creates the impression that it works.

[2020-11-11 11:32] mmomtchev commented on #5
@contra, that could work, just don't do it with the `gdal.config` object which is C++ backed, choose any other name
@jdesboeufs when it comes to implementing this in C++, I am afraid it will require a very significant effort for a feature that can easily be reproduced in JS
In fact, `gdal.config.set()` and `gdal.config.get()` are simply wrappers around the GDAL-provided functions `CPLSetConfigOpti

[2020-11-11 12:12] mmomtchev commented on #17
@contra is the `npm run postpublish` automatically executed on a new version?

[2020-11-11 14:00] guimard commented on #17
It's for Debian packaging (from source) :wink:

[2020-11-12 10:45] mmomtchev opened #36 "Universal async framework"
I have started working on an universal async call framework so that the all the bindings could easily be converted to async with minimal code modifications

Here it is the current version:
### The NAN define on the function method is changed as this
from `NAN_METHOD(Driver::open)` it becomes `GDAL_ASYNCABLE_DEFINE(Driver::open)`
This will automatically create two methods, `Driver::open`, the sync

[2020-11-12 10:59] mmomtchev commented on #36
Just one remark: I don't see any way how we could reduce everything to a single lambda, because some of the lambdas need to run in different execution contexts - there are three separate execution contexts here:
* in the V8 main thread with the JS world stopped (this is the only context in sync mode)
* in the aux thread with the JS world running (concurrent with the GC) - V8 objects are not access

[2020-11-12 11:58] mmomtchev commented on #36
UPDATE: I reduced the lambdas, if anyone has any ideas how to further simplify this, feel free to comment

[2020-11-12 12:34] markgis commented on #12
Hey @mmomtchev, thanks for the details. We had already implemented a isValid but thought it was worth bringing up the difference in behaviour. Many thanks for checking that out.

[2020-11-12 12:34] #12 closed

[2020-11-12 13:59] mmomtchev commented on #36
I am actually hesitating between those two:
(current one)
[code]

(another one)
[code]

I think the second one is better?

[2020-11-12 14:15] mmomtchev commented on #36
No, I am unable make all the cases work with only one lambda, if anyone has any ideas, I am listening
It is very important that this is perfect before starting to transform the code

[2020-11-12 17:07] #17 closed

[2020-11-12 17:32] contra commented on #12
I think this is something worth noting in the docs (Behavior differences between GDAL 2 vs. GDAL 3) since this library supports both.

[2020-11-12 20:03] contra commented on #36
@mmomtchev I like it and think the code ultimately comes out to be pretty clean without reducing to a single lambda.

[2020-11-12 20:09] mmomtchev commented on #36
Yes, I think I will leave it like this, unless someone comes up with a brilliant idea
In fact all the solutions revolve around some form of a second lambda, because there is that final part with `JSObject::New` that must be done at the end in the context of the main V8 thread with the JS world stopped
I will start slowly transforming the code - the vector API is absolutely huge - and unlike the ra

[2020-11-12 22:14] contra commented on #36
@mmomtchev My primary use case is https://www.npmjs.com/package/verrazzano so I'm excited to start benchmarking and see how much of a difference this makes

[2020-11-13 09:53] jdesboeufs commented on #6
It's working!

Thank you very much!

[2020-11-13 09:53] #6 closed

[2020-11-13 13:39] mmomtchev commented on #36
I tried asyncing `gdal.LayerFeatures.get` for test purposes (a supposedly difficult function), it turned out quite clean:
[code]

[2020-11-13 13:44] mmomtchev commented on #36
Then I tried these 2 simple gists (they are really simple, they are 90% instrumentation code)
<https://gist.github.com/mmomtchev/14c3428255fd9c88ed20517572d8efdc>

sync case
[code]

async case
[code]

So, no direct performance gain - this is impossible as long as the operations on the same dataset run sequentially. Hopefully a future version of GDAL will allow this, they have been talking about th

[2020-11-13 13:46] mmomtchev commented on #36
See the per-get duration - it really explodes in the async case, because the GDAL stubs are running parallel - but they are waiting in line for the async_lock

[2020-11-13 13:51] mmomtchev commented on #36
The dataset is a 25MB GeoJSON with all the European administrative borders (from my weather site https://www.meteo.guru)

[2020-11-13 18:33] contra commented on #36
@mmomtchev Yeah, having a second thread is great for the case of having this run on a webserver (we do). If I'm understanding you correctly though, multiple datasets still share a single secondary thread so parsing multiple files at the same time will still block with eachother, or does each dataset receives its own thread in GDAL?

I think the library I linked will see a major speedup if we're ab

[2020-11-13 18:33] mmomtchev commented on #36
I added a modified benchmark to the same gist that opens 4 datasets on the same file to be able to read with 4 threads. One must pay 4x times the `open` cost to get a marginal improvement in speed - in the order of 20%:
[code]

There is also one severe problem with this approach that is general in Node and cannot be easily solved: the maximum number of threads is limited to `UV_THREADPOOL_SIZE`, 4

[2020-11-13 18:35] contra commented on #36
@mmomtchev I think we should definitely document and recommend raising `UV_THREADPOOL_SIZE` in the README where we document the async functions.

[2020-11-13 18:40] mmomtchev commented on #36
@contra multiple datasets should be completely independent aside from the `UV_THREADPOOL_SIZE` issue
The problem is if you launch 16 contexts on 4 datasets and Node/libuv picks 4 of them, all on the same dataset, to run, then you have 100% sequential execution.
`UV_THREADPOOL_SIZE` goes up to 1024, with the price being about 1MB per thread. The default of 4 is quite low, these days most CPUs have

[2020-11-13 18:47] mmomtchev commented on #36
Another solution is to always `await` so that you don't launch more than one operation per dataset - knowing that the second one will eat one thread pool slot without doing anything until the first one finishes

[2020-11-13 19:09] mmomtchev commented on #36
https://gdal.org/development/rfc/rfc47_dataset_caching.html

[2020-11-13 19:12] mmomtchev commented on #36
I think it is stalled (it is quite an undertaking) but I think that they are still considering options
Some drivers individually support internal multi-threading when calling them - this is something that works independently of Node/libuv async - and these can be controlled via creation/opening options. For example GeoTIFF supports multi-threaded compression/decompression

[2020-11-13 23:21] mmomtchev opened #37 "Raster async functions throw synchronously when the arguments are invalid"
If an error is detected during the parsing of the arguments phase (the synchronous phase), the raster async functions with throw a synchronous error when called with a callback (as opposed to Promise).
I/O errors are reported via the callback and the Promisified-versions work as they should - by rejecting the Promise whether the error is during the synchronous or the asynchronous phase.

The callb

[2020-11-13 23:59] mmomtchev commented on #37
In fact, some standard libraries do exhibit the same behaviour... ok, maybe this will stay like this for the time being

[2020-11-16 13:39] mmomtchev opened #38 "Closing the dataset while an async operation is running can end with a segfault"
[code]

This is not expected to work, but the user should be protected against a segfault.

[2020-11-17 13:16] mmomtchev commented on #4
@Ysgorg VSI support is enabled, it is curl and S3 that are missing
@andrewharvey
Both depend on compiling against `libcurl`, so you will kill two birds with one stone
The magic happens in `deps/libgdal/libgdal.gyp`, the GDAL define is `HAVE_CURL`
And `curl` is already present on the build system

[2020-11-17 17:38] contra commented on #37
I think this behavior is valid - if the error is with arguments and not execution of work it should be thrown in the main thread, since it is the main threads problem for invoking with invalid arguments.

[2020-11-17 17:38] #37 closed

[2020-11-17 17:40] contra commented on #38
@mmomtchev I think the correct behavior would be for `ds.close()` to throw if work is still ongoing, thoughts?

[2020-11-17 22:07] mmomtchev commented on #38
In the next version `ds.close()` will block until the currently running I/O finishes (it cannot be canceled) and then it will cancel all operations that have not yet started - they will end up rejecting with `Dataset closed`
Frankly, if I had seen this sooner, I would have probably settled for it 😄
But I already implemented a locking hierarchy on top of Brian Revis excellent `PtrManager` which man

[2020-11-17 22:50] mmomtchev commented on #36
For everyone who is interested, a big chunk of the async vector API has reached usable state and is available at <https://github.com/mmomtchev/node-gdal-async>
It is compatible with Express-like Node frameworks and can also be used for multi-threading purposes, as it contains lots of CPU-intensive primitives

[2020-11-18 10:43] mmomtchev commented on #4
In fact, I am afraid that this is a substantial project.
`node-gdal` has a policy of being self-sufficient, ie not taking any libraries from the build machine
This means that we will have to include not only `libcurl` itself - but also Openssl, Libssh2, nghttp2, Zlib, cares, brotli and NASM
And most of these have very special build requirements for Windows
@andrewharvey  @Ysgorg
What I suggest is

[2020-11-18 14:58] mmomtchev opened #39 "Implement a JS gate to the vsimem interface"
As an alternative to #4 , I propose that a gate to the vsimem interface is implemented, allowing to use `gdal.open` on a JS object of `Buffer` type
Instead of relying on the rudimentary support in GDAL to make the network requests, a Node.js program which could build upon the rich JS ecosystem, will be much better suited to do the networking and leave the processing to GDAL

This is a very interes

[2020-11-18 15:21] mmomtchev commented on #4
I spent some this researching this issue, and I can definitely say that you should not hold your breath for `libcurl` support in `node-gdal`
It is a pity, since c-ares, Zlib, Openssl, nghttp2 and NASM are dependencies of Node and are already included
However compiling against those, which are not publicly exported, is a very tricky task - especially since their own versions change across different

[2020-11-23 21:02] mmomtchev commented on #39
@andrewharvey @Ysgorg
I have an initial version at <https://github.com/mmomtchev/node-gdal-async/tree/vsimem>
You can call `gdal.open` on a `Buffer` object - everything works as for a normal file
Persistence is handled, but not enforced - if the GC deletes your buffer, the application won't crash, but subsequent operations will fail with an I/O error
I wonder if I shall keep a strong reference on

[2020-11-30 07:15] garycjohnson opened #40 "Pre-Built Binaries Not Available"
Somewhere between 2330 and 0330 UTC the pre-built binaries have disappeared. This is now causing our Bitbucket Pipelines to fail as the pipeline doesn't have the resources necessary to do a fallback build. Is this a permanent change to remove the pre-built binaries?

When testing `https://gdal-next-binary.s3.amazonaws.com/gdal/v2.0.0/node-v72-linux-x64.tar.gz` I am getting the error:

[code]

[2020-11-30 17:57] contra opened #41 "publish prebuilt binaries via github releases"
Currently we publish to S3 - I'm footing the bill for this on my personal account. Wasn't an issue before since I just made this fork for my own usage, but now that it has started gaining more and more downloads the bandwidth has exceeded the free tier. Publishing to github will be more reliable anyways, since it detaches this project from my personal amazon usage and will allow it to be forked fr

[2020-11-30 17:58] contra commented on #40
@garycjohnson Issue should be resolved now. This particular issue was caused by amazon locking my personal AWS account last night for a few hours. The current setup uses S3 to store the prebuilt binaries, some newer tooling has come out that would allow us to publish them to github via releases which would be a lot better - currently I'm footing the bill for all of the bandwidth off my personal ac

[2020-11-30 17:58] #40 closed

[2020-11-30 17:58] contra commented on #40
Also FWIW the fallback if the prebuilds don't exist is to build from source - this should still work fine, it just takes a while.

[2020-11-30 21:26] garycjohnson commented on #40
Thanks for the prompt resolution for this. Much appreciated. If there's a way to throw you a few bucks let me know.

[2020-12-01 23:17] mmomtchev commented on #39
This is ready for merging
I added a reference to the `Buffer` object in the dataset in `gdal.Dataset.buffer` - this way you can be sure that the lifetime of the dataset won't exceed the lifetime of the buffer

[2020-12-01 23:23] mmomtchev commented on #36
@contra, this will be a huge PR (>5000 lines) which lots of new code for the synchronous API too
I see that lots of people have checked out my branch, feel free to report any problems with it
I wonder how should this be handled, maybe release a beta version before landing everything?

[2020-12-02 00:12] contra commented on #36
@mmomtchev Yeah, I think we can push/prebuild it as a beta release then move it to a major bump once its been tested in the ecosystem for a week. I'll use it in our production ETL system and put it through its paces.

[2020-12-03 15:58] mmomtchev commented on #36
@contra If this is going to be a 3.0, then I probably should also rewrite the Geometry classes and convert to [`node-addon-api`](https://github.com/nodejs/node-addon-api) - these are the two most pressing changes that will also require a major version bump

I have been reassured by the `node-addon-api` team that the conversion will be straightforward

N-API should also come before the switch to gi

[2020-12-03 20:19] contra commented on #36
@mmomtchev I'm fine to do multiple major releases instead of putting it all into a 3.0 - up to you how you think it should be ordered and released though.

[2020-12-03 21:56] mmomtchev commented on #36
I ran the `node-addon-api` conversion tool and there is a few days of work left before it works again
It is not a very complex change - it is mostly regexping and a little bit of refactoring - but it is very invasive, it modifies 1 line out of 4
I don't want to be merging it with the async branch which is already huge by itself, so if you are ok, you should probably create a 2.x branch and then I

[2020-12-04 15:27] mmomtchev commented on #7
@contra I have started the N-API migration
There is lots of automatic conversion/regexping but at the end all the `::New()` function must be almost completely rewritten
@weagle08 does your offer still stand?

[2020-12-04 16:52] weagle08 commented on #7
@mmomtchev it does, my team and I actually just started looking at this this past week. we have 4 developers with about 4 months of time allotted to this. We are all novices in making native modules though so hopefully that will be enough. Our current approach is to:

1. understand build for gdal and each dependent library
2. learn how gyp works (can use current node-gdal-next repo as guide)
3. up

[2020-12-04 21:04] contra commented on #39
Shipped in 2.6.0

[2020-12-04 21:04] #39 closed

[2020-12-06 10:14] mmomtchev commented on #7
@weagle08 My current estimate is that there is about a man-week of work for the N-API migration for someone who has used NAN before but is new to N-API
There is an automatic conversion tool, after I ran it, I spent one day regexping everything that the tool missed
What is left is rewriting all the `::New` functions of the JS-visible C++ objects - the so-called `ObjectWrap` - this is the major diff

[2020-12-07 04:14] weagle08 commented on #7
@mmomtchev thanks for that explanation.. that will help a lot and it sounds like N-API is much improved over NAN, or I just prefer that paradigm you described anyways.

[2020-12-07 09:53] mmomtchev commented on #7
N-API (in fact this is [node-addon-api](https://github.com/nodejs/node-addon-api) - N-API is the low level C ABI) allows for cleaner C++ code by leveraging its existing object management features instead of implementing a new object framework.

But its main strength is that it is a stable ABI, that is, binaries does not require recompilation. You can build one executable per platform (Linux, Win32

[2020-12-07 18:20] weagle08 commented on #7
@mmomtchev it was a bullet item on the https://github.com/contra/node-gdal-next/blob/master/ROADMAP.md that I figured we could know I out by simple performing some npm preinstall steps to pull dependent sources from a tag.. did I misunderstand that bullets intent? Or would this be more complexity with little value? I figured it would make upgrades easier

[2020-12-07 21:15] mmomtchev commented on #7
Yes, in fact, it is only now that I am reading this in detail 😄

Async API is almost finished, it is available on <https://github.com/mmomtchev/node-gdal-async>
@contra is testing it in production, there are lots of people that regularly clone my repo so I guess some of them are using it
If no one complains during the next few weeks, it will probably get merged into the master branch

I am current

[2020-12-07 21:53] weagle08 commented on #7
@mmomtchev So that will be a huge issue because I think the N-API development will completely trash the async implementation when we do it.. would it be easier for us to do the N-API upgrade and then redo the async?

[2020-12-08 02:19] contra commented on #7
FWIW the ROADMAP file was just thrown together for me to track my thoughts on potential improvements and things to look into - should all be taken loosely. Specifically the comment under the N-API bullet was just to look at newer node native libraries for ideas on structuring the build system, since things have come a long way in the ecosystem since this project was initially developed. Our curren

[2020-12-08 20:32] MangoChris opened #43 "Cant open MVT for writing"
Package Version: 2.6.0
Node Version: 14.9.0

Command:

var data = gdal.open('/tmp', 'w', 'MVT');

Expected behaviour:

data variable contains Dataset

Actual behaviour:

Uncaught Error: ERROR 6: Only vector creation supported
Uncaught Error: Error creating dataset

Notes:

All other file formats 'Esri Shapefile', 'KML' etc work as expected.

[2020-12-08 22:09] mmomtchev commented on #43
@MangoChris are you using `gdal-next` with your own shared GDAL library? By building with `--shared_gdal`? MVT write support is not working with the prebuilt binaries
If so, try with
[code]

The default options (datatype `GDT_Byte`) fool the MVT driver that you want to create a raster dataset which it does not support

[2020-12-09 05:14] contra commented on #43
Published as 2.6.1 - thanks @mmomtchev!

[2020-12-09 05:14] #43 closed

[2020-12-09 12:09] MangoChris commented on #43
Thanks for the quick response guys, adding 'Unknown' did the trick!

[2021-01-04 15:28] iSkore commented on #4
Would you mind posting an example of this?

[2021-01-04 16:15] contra commented on #4
@iSkore Yep `npm install gdal-next --build-from-source --shared_gdal` is correct.

[2021-01-06 15:54] caldwellc commented on #7
Migrating to N-API would be great. It sounds like this change could help when building against newer versions of electron. Currently unable to get node-gdal-next to build on Windows 10 for electron 10 (which uses node 12.16.3 and v8 8.5)

[2021-01-07 10:44] mmomtchev commented on #7
I have started it, but my branch is from the `universal-async` branch
Once I get it to at least compile, I will publish it on my fork
I have other things on my hands atm, but I will probably switch back to gdal in the coming weeks

[2021-01-25 13:05] zdila opened #45 "Cannot find coordinate operations (EPSG:8353)"
On my system I can use gdal or qgis with EPSG:8353 but node-gdal-next fails. Can I do something with that?

[code]

[2021-01-25 15:39] contra commented on #45
What version of node-gdal are you using, what OS are you on, and can you include some sample code?

[2021-01-25 18:53] mmomtchev commented on #45
@zdila, I am more surprised by the fact that you can use EPSG:8353 with a stock GDAL then the fact that it does not work with `node-gdal-next`  😄

The projection support we have comes from libproj - and the version we have does not include EPSG:8353.
And I don't see it on the official libproj repository either unless I am missing something?

But if your OS-provided version of GDAL does work with i

[2021-01-25 21:47] zdila commented on #45
I am using version installed by `npm i node-gdal-next` command with Node.js v14.15.0 on Debian Bullseye. GDAL version on my system (installed from official Debian reporitory) is 3.2.1. Version of libproj is 7.2.1.

EPSG8353 is mentioned in `/usr/share/proj/proj.db` which is from `proj-data_7.2.1-1_all.deb`.

My current workaround is to use https://www.npmjs.com/package/proj4 where it works by manu

[2021-01-25 22:00] mmomtchev commented on #45
`node-gdal-next` is not compatible with proj4 - so you will have to transform all the coordinates on your own

Can you find `gdal.node` in your `node_modules/node-gdal-next` and do an `ldd gdal.node`?

Normally, when you compile it like this, you should be calling the OS-provided GDAL from JS

Now, the question is, does the OS provided GDAL support it out of the box?

In proj.6 I have `krovak` but

[2021-01-25 22:15] zdila commented on #45
Now I recall that with gdalwarp I was specifying transformation using proj4 string and not by EPSG code. I will recheck it tomorrow as I am no longer at PC.

[2021-01-25 22:26] mmomtchev commented on #45
If you create a `gdal.SpatialReference.fromProj4` it should be possible to get it to work as it already supports the underlying transformation - `krovak` - only the projection specification is missing

[2021-01-26 08:29] zdila commented on #45
OK, my bad, `gdalwarp` works only when I specify proj4 transformation string and not only srs.

`gdal.SpatialReference.fromProj4` works. Thank you.

I apologize for invalid report. Feel free to close this issue.

[2021-01-26 18:38] contra commented on #45
Thanks for helping out @mmomtchev !

[2021-01-26 18:38] #45 closed

[2021-02-09 20:24] oncletom opened #46 "gdal.spatialReference.isSame() returns false whereas spatial references look the same"
Hello,

I can't wrap my head around this problem:

[code]

I'm a bit lost because I would have expected the layers to be projected the same way.
I use this test to determine if I need to reproject geometries as I filter them (using `feature.getGeometry().clone().transformTo(wgs84)`).

Am I missing something?

[2021-02-09 21:47] contra commented on #46
You're likely running into this - https://github.com/contra/node-gdal-next#breaking-changes

`gdal.SpatialReference.fromProj4('+init=epsg:4326')` is not equal to plain EPSG:4326.

`EPSG:4326`: lat, lon
`fromProj4('+init=epsg:4326')`: lon, lat

[2021-02-09 21:47] contra commented on #46
If you provide a runnable code sample I can provide more guidance but I can't really see the larger picture from the code provided

[2021-02-10 06:41] oncletom commented on #46
Okay, it makes total sense.

I'm opening a Shapefile, projected as WGS84 with `ogr2ogr`, and I'm filtering it with a `gdal-next` created layer using `gdal.SpatialReference.fromProj4('+init=epsg:4326')` as a spatial reference.

I now understand why they are not stricly equal.

Thank you for the pointer 👍

[2021-02-10 06:41] #46 closed

[2021-02-17 18:43] weagle08 commented on #7
We have not forgotten about this task... Just other issues can pop up and take precedence at work so just wanted to let you guys know we are still working towards converting to NAPI

[2021-02-17 22:37] mmomtchev commented on #7
I am currently very busy with <https://github.com/mmomtchev/rlayers>, so I haven't progressed very much with gdal. Still, I think that the `universal-async` branch needs to be merged first as it is a very far-reaching evolution. I was hoping to get some feedback before merging. I see that the branch has been cloned quite a few times - so either it is working perfectly, either it is not working at

[2021-02-25 23:10] bkeevil opened #47 "How to use the OFTStringList field type?"
I was trying something like:
[code]
but feature.fields.set() won't accept an array of strings

What is the correct way to use the OFTStringList field type? I can't find any documentation or examples anywhere.

[2021-02-26 00:51] contra commented on #47
This is the low level set call, I don't see anything here that would handle OFTStringList correctly:

- https://github.com/contra/node-gdal-next/blob/master/src/collections/feature_fields.cpp#L193
- https://github.com/contra/node-gdal-next/blob/master/src/collections/feature_fields.cpp#L83

Seems like the only supported types are numbers, strings, and null/undefined (to unset)

[2021-02-26 09:32] mmomtchev commented on #47
@contra I am not very sure if it is really useful - complex data types are considered exotic and while reading them is supported as they can be encountered - it is still best to not write them. You will either end producing incompatible output, or the driver will eventually stringify the object the way it sees it right.
Instead of using a string array property, use multiple string properties - and

[2021-02-26 14:13] bkeevil commented on #47
Are these datatypes part of some sort of standard?

[2021-02-26 14:38] mmomtchev commented on #47
Every format defines its own datatypes and then there is the GDAL level abstraction which tries to match them as closely as possible.

The scalar types and the string are universal, but the list types are much less so - for example given that GeoJSON is in fact a JSON, you can always try to squeeze an array (or worse, an object) into the `properties` object and while it will still be a valid JSON

[2021-03-20 23:38] contra commented on #47
@bkeevil I'm going to leave this open since this is a feature request we want to implement

[2021-03-22 14:22] weagle08 commented on #41
Hey @contra,
I'm working on the rewrapping of GDAL using N-API (finally) and have removed all the node-pre-gyp stuff for now since it is just another library to learn that is not needed while I work the re-wrap so if you can hold off on a solution to this until I get it complete (hopefully in the next couple of months) you could then apply whatever change you propose to it then so that it won't ha

[2021-03-22 15:32] weagle08 commented on #7
Hey guys,
@contra  @mmomtchev
I've started work on N-API (again, finally... other work took priority and bumped this down the list) and would like opinions on a couple changes.
1. I've now created gulp tasks that run on install that pull all dependent code from their github repositories (or zip file download) specific tag version instead of carrying around the entire source in this repo... are you

[2021-03-22 17:15] contra commented on #7
@weagle08 I don't have any issue changing the license but since this is a fork of another project, it is their license. I don't know enough about it to be confident we wouldn't violate their license by changing ours to MIT even if 99% of the code is different, and the 1% still remains.

[2021-03-22 19:08] contra commented on #41
@weagle08 Sure, that seems fine!

[2021-04-02 14:42] alperdincer opened #48 "FlattenTo2D method for geometry object"
I'm dealing with some layers that has 3d and this will cause problems with geometry columns in Oracle Database. I checked for forcing geometry to 2d but I can't find any method for it. But GDAL bindings for Python has the FlattenTo2D() method for geometry to do this job and how can we added to this library?

[2021-04-23 01:22] contra commented on #48
@alperdincer Should be a relatively easy function to expose - let me look into it and I'll get back to you on it.

[2021-04-23 18:18] #48 closed

[2021-05-11 17:12] beldarragi opened #50 "Support for FGFs"
Hello,

I was curious if there are there plans to support geometry creation from the FGF format? I noticed there is support for WKBs and others, but not FGF.

Thank you!

[2021-05-15 06:53] yocontra commented on #50
@beldarragi It looks like gdal partially supports parsing FGF data - if this is something you're interested in it would be a relatively simple PR to add it.

[2021-05-17 15:59] beldarragi commented on #50
@contra That would be great!

[2021-05-24 18:13] beldarragi commented on #50
@contra I've made some changes locally if you'd like me to submit a PR for review.

[2021-05-29 07:12] FreeGIS opened #51 "How to create dxf dataset?"
`    gdal.config.set('GDAL_DATA','C:\\Program Files (x86)\\GDAL\\gdal-data');
    // error
    const ds1=gdal.open('.\test.dxf',"w",'DXF');

    const dxf_driver = getDriverByName('DXF');
    const ds2 = dxf_driver('.\test.dxf');
`
the error info:
` return driver.create.apply(driver, args)
                           ^

Error: Error creating dataset`

[2021-06-04 19:52] haandev opened #52 "DGN support"
If i list the supported drivers, i saw DGN there. but if i use gdal.open("any_dgn_file.dgn") it seem gdal driver is missing

i see an error Error: Error opening dataset

[2021-06-17 18:42] yocontra commented on #50
@beldarragi Yeah please do!

[2021-06-17 18:43] yocontra commented on #52
@haandev Do you get a better stacktrace than that, and can you provide a sample .dgn file that reproduces?

This is our DGN support for reference: https://github.com/contra/node-gdal-next/blob/master/deps/libgdal/gyp-formats/ogr_dgn.gyp

[2021-08-07 06:50] stevage opened #53 "'AS_XY' is an unexpected value for GEOMETRY creation option of type string-select."
I'm trying to generate a CSV file with distinct lat/lon columns.

This works ok:

[code]

However if instead of `AS_WKT`, I use `AS_XY`, then the later `layer.features.add(feature)` step throws this error:

[code]

Doing a command-line test (with gdal 3.3.0) works fine:

[code]

I don't know know GDAL terribly well, but when I look through the code installed for node-gdal-next (2.8.0), I see suppo

[2021-08-07 06:55] stevage commented on #53
Ah, by moving the creation options to `output.layers.create(...)` rather than `outputDriver.create(...)` it works. I don't intuitively understand why AS_XY would be an option for creating a "layer" in a CSV file and not for the dataset as a whole, but...I'm glad I have a solution now.

[2021-08-13 20:29] yocontra commented on #53
@stevage Seems like a gdal issue and not something we can fix in this binding - GDAL can be really confusing and inconsistent with the options they provided. If you feel really passionately about it you could follow up by opening an issue on their tracker about it.

[2021-08-13 20:29] #53 closed, assigned to nobody

[2021-08-14 02:06] stevage commented on #53
Yeah, I wasn't really clear on where it sat when I started the issue. One thing that would be helpful would be clearer documentation about the format of options. For instance:

It's not really obvious how to translate command-line options (`-lco GEOMETRY=AS_WKT`) into "an array or object". I mean, I guessed `{ GEOMETRY: 'AS_WKT' }` but it was hard to be certain. Not sure what the array format woul

[2021-09-08 09:56] sebastic opened #54 "Fails to build with GDAL 3.3.x (error: invalid new-expression of abstract class type 'node_gdal::GeoTransformTransformer')"
As reported in [Debian Bug #992527](https://bugs.debian.org/992527):
[code]

[2021-09-09 21:13] yocontra commented on #54
@mmomtchev I see you ended up making your fork a published package - I don't have any issue deprecating this one and telling everyone to use yours in the README if you plan to continue maintaining it. The sole purpose of making this one was to fix all of the outstanding issues with the original project + keep it working on new node and gdal versions. I don't see any reason to both do this separate

[2021-09-10 13:12] mmomtchev commented on #54
I did create this project hoping to gain better visibility since I have been out of work for more than a year now.
But no matter what will happen next with me, I am a very heavy `gdal-async` user - I am using it to slowly replace all web-facing legacy C++ code on my weather site which requires that it is fully asynchronous and `Express`-compatible in a multi-user environment. I initially used it o

[2021-09-28 15:28] petr-pokorny-1 opened #55 "[Question] run in docker"
Hi, I am wondering if anyone has the luck to use this binding in docker. I used node 14 on alpine 3.14 and installed GDAL (following osgeo/gdal official image), but I am getting the following error when I try to run the container:

[code]

[2021-09-28 15:39] yocontra commented on #55
@petr-pokorny-1 Not sure what the issue with alpine would be - I've used this library in docker in production for a few years now without issue, but not with alpine just using a normal node image and the prebuilt binaries. I would think you're probably missing something with linking your preinstalled gdal with the module. Make sure you follow the instructions in the readme and do `npm install gdal

[2021-09-28 22:27] petr-pokorny-1 commented on #55
@contra I couldn't figure out why it does not work with Alpine, but it started working when I used `osgeo/gdal:ubuntu-small-latest` as a base image and installed node on it. I did not need `libgdal-dev` and `--build-from-source` - it just worked out of the box.

Thank you for your help and for maintaining this library!

[2021-09-28 22:27] #55 closed, assigned to nobody

[2022-04-21 17:31] iredmedia opened #56 "Rasterize missing?"
It appears polygonize exists in this lib but rasterize doesn't. Is this something that could be achieved? Are there technical challenges to doing so?

[2022-06-27 13:32] jdesboeufs opened #57 "Unable to use or to run tests on Apple Silicon"
Hello!

I've some problems with my new Apple M1 CPU (as expected) 😬

When I use `gdal-next` or try to run `make test` I have the same error:
[code]

Since `libpng` is provided by this repository, maybe there is some configuration to update?

My environment:
- M1 Pro
- macOS Monterey
- Python 3.7.13
- Node 16.15.1

[2022-06-27 14:18] jdesboeufs commented on #57
Probably fixed in GDAL 3.4.x:
https://github.com/OSGeo/gdal/issues/3464

[2022-07-06 20:06] yocontra commented on #57
@jdesboeufs Have you tried using the new node-gdal-async library? @mmomtchev has basically forked this project, and kept running with it (contributing more time/energy into keeping things updated, adding new features, etc.)

If his fork works for you on your M1 I would recommend using that. I'll probably deprecate this fork and point people at his as a successor, I don't see any need to keep worki

[2022-07-06 20:08] yocontra commented on #56
Have you tried looking at the node-gdal-async fork? If the feature exists there I would suggest trying that, or maybe opening an issue there. The company I started that I created this fork for has gone out of business unfortunately and I haven't had time to continue adding new features to this project. @mmomtchev has basically taken this repo as a baseline and continued improving on it.

[2022-08-31 05:16] FreeGIS opened #58 "Error: Corrupt Data"
OS:Win10 64

When run the code :
`const srs= gdal.SpatialReference.fromProj4('+init=epsg:4326');
                                 ^
Error: Corrupt Data`

I can not locate the problem,who can tell me why?

[2022-09-01 06:09] FreeGIS commented on #58
The error was caused by an environment variable conflict.
I installed the PostgreSQL/postgis database and set environment variable:
PROJ_LIB=C:\Program Files\PostgreSQL\14\share\contrib\postgis-3.1\proj
when i delete the variable and restart os,the fromProj4 is right

[2022-09-01 06:09] #58 closed, assigned to nobody

[2022-09-01 07:25] FreeGIS opened #59 "buildOverviews error"
where i use dataset.buildOverviews with gdal-next has error:
` dataset.buildOverviews("NEAREST", overviews);
          ^
Error`

but i use node-gdal is ok，why？

[2022-09-02 22:11] FreeGIS commented on #59
Then size of my dataset is [7000,7000]，when
`dataset.buildOverviews("NEAREST", [2,4,8,16,32,64,128];` is error.

but
`dataset.buildOverviews("NEAREST", [2,4,8,16,32];` is ok.
so i set max overview is 32.

[2022-09-02 22:11] #59 closed, assigned to nobody

[2022-11-12 12:53] stefanocudini commented on #55
@petr-pokorny-1  have you also succeeded with alpine?
I am making attempts here:
https://github.com/opengeo-tech/geotiff-picker/blob/master/Dockerfile#L5

[2022-11-18 19:44] stefanocudini opened #61 "how to optimize Docker image"
hi
I'm working to a Nodejs application with api rest that uses this fantastic fork of node-gdal!
here the sources:
https://github.com/opengeo-tech/geotiff-picker/

have a package.json similar to this:
[code]
as you can see in my starting docker image I already have gdal pre-installed.
then I add nodejs and npm and example install. but this operation is very very slow, I think because it is compili

[2022-11-22 18:43] yocontra commented on #61
@stefanocudini `--build-from-source` kicks off the build of the native components of the package (tells npm not to use the prebuilds), and `--shared_gdal` is telling that compilation process not to use/compile the bundled version of gdal (in the src folder of this repo) but to link to the OS one instead.

If you're optimizing for build speed, I think using our prebuilt binaries (that come with a b

[2022-11-22 21:41] stefanocudini commented on #61
@yocontra  thanks for your so much details, I was trying to optimize above all for the compilation speed, in particular to try to use little ram when compiling.

one thing I guess from your explanations and that I didn't understand before, correct me if I'm wrong is this:
so i can't use gdal-next without any compilation?

I ask this because I did not understand  very well the binding mechanism nod

[2022-11-23 17:25] yocontra commented on #61
You can use gdal-next with no compilation if you use one of our prebuild binaries, which are available up to node 16. Try using `https://deb.nodesource.com/setup_16.x` instead of `https://deb.nodesource.com/setup_18.x` and you should notice it speed up.

Alternatively, look at node-gdal-async which is another fork which may have prebuilds available for node 18.

[2022-11-23 17:25] #61 closed, assigned to nobody